body {
  background-image: url("../public/images/poster.jpg");
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: cover;
  min-height: 100vh;
}

.form {
  padding-top: 50px;
}
