.dashboard {
  background: white;
}
.border-style{
  
  /* border: 1px solid black ; */
  height:900px;

}
.custom{
  margin-top: 50px;
}
.top-rank{
  
    background: #fff099;
    border-right-style:solid;
    border-width: 6px;
    border-color: #dabb0f;
  
}
.quiz-cat{
  background: #fff099;

}